[submodule ".config/zsh/ohmyzsh"]
	path = .config/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".tmuxifier"]
	path = .tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
